/* Color Scheme */
#header            { color: #2D768E; }
#text-area         { color: #7CB4C6; }
#definitions       { color: #E39543; }
#definitions.text  { color: #61ADC6; }

::-webkit-input-placeholder { color: #7CB4C6; }
:-moz-placeholder           { color: #7CB4C6; }

/* Font */
#content             { font: 20px Inconsolata; }
textarea, #text-copy { font: 24px Inconsolata; }

body {
    background-color: black;
    height: 100%;
}

#content {
    margin-top: 200px;
}

.centered {
    width: 825px;
    margin: 0 auto;
}

textarea {
    border: none;
    outline: none;
    background-color: black;
}

/* Code to allow auto-resizing of editor */
#editor {
    position: relative;
}

#text-area {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#text-copy {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 6px;   /* Same border+padding as text area. */
    padding-bottom: 1.15em; /* A bit more than one additional line of text. */ 
    visibility: hidden;
    width: 100%;
}
