/* Color Scheme */
#header            { color: #2D768E; }
#text-area         { color: #7CB4C6; }
#controls          { color: #7CB4C6; }
input              { color: #7CB4C6; }
.synonyms          { color: #7CB4C6; }
#definitions       { color: #E39543; }
#definitions.text  { color: #61ADC6; }

.synonyms .selected {
    color: #ffffff;
    background-color: #2D768E;
}

::-webkit-input-placeholder { color: #7CB4C6; }
:-moz-placeholder           { color: #7CB4C6; }

/* Font */
#content, input                 { font: 20px Inconsolata; }
textarea, #text-copy, #synonyms { font: 24px Inconsolata; }

body {
    background-color: black;
    height: 100%;
}

#content {
    margin-top: 200px;
}

.centered {
    width: 825px;
    margin: 0 auto;
}

textarea {
    border: none;
    outline: none;
    background-color: black;
}

input {
    margin-top: 20px;
    background-color: black;
    outline: none;
    border: 1px solid #2D768E;
}

.synonyms {
    background-color: black;
    border: 1px solid #2D768E;
    margin-left: -27px;

  -moz-box-shadow:    -1px 1px 20px -7px #fff;
  -webkit-box-shadow: -1px 1px 20px -7px #fff;
  box-shadow:         -1px 1px 20px -7px #fff;
}

.synonyms ul {
    list-style-type: none;
    margin: 4px;
    padding: 0px;
}

/* Code to allow auto-resizing of editor */
#editor {
    position: relative;
}

#text-area {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#text-copy {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 6px;   /* Same border+padding as text area. */
    padding-bottom: 1.15em; /* A bit more than one additional line of text. */ 
    visibility: hidden;
    width: 100%;
}
