/* Color Scheme */
/* http://colorschemedesigner.com/#3o31IP.--smIg */

#title             { color: #FF4F00; }
#header            { color: #0189B0; }
#text-area         { color: #0189B0; }
#controls          { color: #0189B0; }
input              { color: #0189B0; }
.synonyms          { color: #0189B0; }
#definitions       { color: #FFA200; }
#definitions.text  { color: #FF4F00; }

.synonyms .selected {
    color: #ffffff;
    background-color: #FF4F00;
}

::-webkit-input-placeholder { color: #0189B0; }
:-moz-placeholder           { color: #0189B0; }

/* Font */
#title            { font: bold 48px Inconsolata; }
#content, input        { font: 20px Inconsolata; }
textarea, #text-copy,
    #synonyms, #header { font: 24px Inconsolata; }

body {
    background-color: #f0f7ff;
    height: 100%;
}

#content {
    margin-top: 200px;
}

#header {
    margin-bottom: 20px;
}

.centered {
    width: 825px;
    margin: 0 auto;
}

textarea {
    border: none;
    outline: none;
    background-color: #f0f7ff;
}

input {
    margin-top: 20px;
    background-color: #f0f7ff;
    outline: none;
    border: 1px solid #2D768E;
}

.synonyms {
    background-color: #f0f7ff;
    border: 1px solid #2D768E;
    margin-left: -27px;

  -moz-box-shadow:    -1px 1px 20px -7px #000;
  -webkit-box-shadow: -1px 1px 20px -7px #000;
  box-shadow:         -1px 1px 20px -7px #000;
}

.synonyms ol {
    margin: 4px;
    padding: 0px;

    /* Remove decimal after ol numbering */
    counter-reset: item;
    list-style-type: none;
}

/* Remove decimal after ol numbering */
.synonyms li { display: block; }
.synonyms li:before {
    content: counter(item) "  ";
    counter-increment: item
}

.synonyms li.loading:before {
    content: none;
}

/* Code to allow auto-resizing of editor */
#editor {
    position: relative;
}

#text-area {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#text-copy {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 6px;   /* Same border+padding as text area. */
    padding-bottom: 1.15em; /* A bit more than one additional line of text. */ 
    visibility: hidden;
    width: 100%;
}
