<div class="show-hide"></div>
<div id="show-label">Show Controls</div>
<div class="content">
    <div id="hotkey-controls">
        <span>Press
        <span class="dark">shift</span> + <span class="dark">space</span>
        to see synonyms for the word under the cursor.</span>
        <!--<span>Press</span>
        <input type="text" name="hotkey" value="ctrl+shift+space"/>
        <span>to see synonyms for the word under the cursor.</span>-->
    </div>
    <div id="auto-controls" style="display: none">
        <span>Press
        <span class="dark">space</span>
        after a word and its synonyms will appear.</span>
    </div>
    <fieldset id="hotkey-auto-switch" class="switch blue">
        <legend>Show synonyms via</legend>

        <input id="hotkey" name="view" type="radio" checked>
        <label for="hotkey">HOTKEY</label>

        <input id="auto" name="view" type="radio">
        <label for="auto">TYPING</label>

        <span class="switch-button"></span>
    </fieldset>
    <div id="instructions">
        <div class="left">
            <p>up/down arrow keys <span class="dark">|</span> mouse</p>
            <p>right arrow key <span class="dark">|</span> tab <span class="dark">|</span> click</p>
            <p>left arrow key <span class="dark">|</span> shift + tab</p>
            <p>1 through 5</p>
            <p>double-press 1 through 5</p>
            <p>ctrl + c<span class="dark">|</span> &#8984; + c</p>
        </div>
        <div class="right">
            <p> <span class="dark">-</span>&nbsp;&nbsp;navigate synonym list</p>
            <p> <span class="dark">-</span>&nbsp;&nbsp;show new synonym list for selected word</p>
            <p> <span class="dark">-</span>&nbsp;&nbsp;go back to previous list, or change word type</p>
            <p> <span class="dark">-</span>&nbsp;&nbsp;select word at number in synonym list</p>
            <p> <span class="dark">-</span>&nbsp;&nbsp;shortcut to replace word in editor with synonym</p>
            <p> <span class="dark">-</span>&nbsp;&nbsp;select and copy all Typesaurus content</p>
        </div>
    </div>
</div>

