<!--<div id="copy-paste-controls">
    <legend>Copy/Paste Hotkeys: </legend>

    <input id="copy-paste-on" name="view" type="radio" checked>
    <label for="hotkey">ON</label>

    <input id="copy-paste-off" name="view" type="radio">
    <label for="auto">OFF</label>

    <span class="switch-button"></span>

    <span>ctrl+v: paste into ↗&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>ctrl+c: copy all from ↗&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>-->
<div id="hotkey-controls">
    <span>Press</span>
    <input type="text" name="hotkey" value="ctrl+shift+space"/>
    <span>to see synonyms for the word under the cursor.</span>
</div>
<div id="auto-controls" style="display: none">
    <span>Press space after a word and its synonyms will appear.</span>
</div>
<fieldset id="hotkey-auto-switch" class="switch blue">
    <legend>Show synonyms via</legend>

    <input id="hotkey" name="view" type="radio" checked>
    <label for="hotkey">HOTKEY</label>

    <input id="auto" name="view" type="radio">
    <label for="auto">TYPING</label>

    <span class="switch-button"></span>
</fieldset>
<div id="instructions">
    <p>up/down arrow keys | mouse - navigate synonym list</p>
    <p>right arrow key | tab | click - show new synonym list for selected word</p>
    <p>left arrow key | shift+tab - go back to previous list, or change word type</p>
    <p>ctrl+c | command+c - select and copy all Typesaurus content</p>
</div>

