<div id="header" class="centered">
    <span id="title">Typesaurus</span>: an interactive thesaurus.
</div>
<div id="editor" class="centered"></div>
<div id="controls" class="centered"></div>
<div id="definitions" class="centered"></div>
<div id="credits" class="centered">
    Thanks to everyone behind the brilliant tools that make this project possible:<br>
    <a href="http://nodejs.org">Node.js</a> +
    <a href="http://nodejitsu.com/">Nodejitsu</a>,
    <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>,
    <a href="http://www.mongodb.org/">MongoDB</a>, and
    <a href="http://jquery.com/">jQuery</a>.<br>
    Thesaurus service provided by: <a href="http://words.bighugelabs.com">words.bighugelabs.com</a><br>
    Designed and built by <a href="https://github.com/evanpurcer">Evan Purcer</a>.
</div>
<!-- Github Ribbon -->
<a href="https://github.com/evanpurcer">
<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>
