<div id="header" class="centered">
    <span id="title">Typesaurus</span>: the interactive, crowdsourced thesaurus.
</div>
<div id="editor" class="centered"></div>
<div id="controls" class="centered"></div>
<div id="definitions" class="centered"></div>
<div id="credits" class="centered">
    Thanks to all the awesome people behind the brilliant tools that made this project possible:<br>
    <a href="http://nodejs.org">Node.js</a>,
    <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>,
    <a href="http://www.mongodb.org/">MongoDB</a>, and
    <a href="http://jquery.com/">jQuery</a>.
    Thesaurus service provided by: <a href="http://words.bighugelabs.com">words.bighugelabs.com</a>
</div>

